torch==2.4.0
transformers==4.51.3
tokenizers==0.21.1
sentencepiece==0.1.99
pyarrow==18.0.0
accelerate==1.1.0
pydantic_core==2.20.1
markdown2[all]
numpy==1.24.3
scikit-learn==1.2.2
requests
httpx
uvicorn
fastapi==0.112.4
einops==0.6.1
einops-exts==0.0.4
timm==1.0.11
tiktoken
transformers_stream_generator==0.0.4
scipy
pandas
torchaudio
xformers
pillow==10.3.0
deepspeed==0.15.4
pysubs2==1.7.2
moviepy==1.0.3
gradio